<ion-content>
  <figure class="img-primary">
    <img src="img/logo-primary.png" alt="logo principal">
    <figcaption>Entrar</figcaption>
  </figure>

  <div>
    <div class="col">
      <button ng-click="login.modal('email')" class="button button-full button-dark">
        E-mail
      </button>

      <button ng-click="login.authFb()" class="button button-full button-positive">
        Facebook
      </button>
    </div>
  </div>

  <div class="col">
    <!-- <a ng-href="">Esqueci a senha</a> -->
    <a ng-href="#/cadastro">Criar conta</a>
  </div>
</ion-content>
