<ion-view view-title="Perfil">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Perfil</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{user.social.picture}}">
        <h2>{{user.fullName}}</h2>
        <p>{{user.email}}</p>
      </div>

      <a ng-click="profile.logout()" class="button icon-left ion-android-exit">sair</a>
    </div>

    <!-- <h5 class="subtitle">minha horta</h5> -->

    <button class="button button-full button-dark"
      ng-click="profile.modal()">adicionar novo item</button>

    <a class="item item-icon-right assertive" ng-click="profile.action('1')">
      Alface
      <i class="icon ion-ios-trash-outline"></i>
    </a>

    <a class="item item-icon-right assertive" ng-click="profile.action('2')">
      Uva
      <i class="icon ion-ios-trash-outline"></i>
    </a>

    <a class="item item-icon-right assertive" ng-click="profile.action('3')">
      Pêra
      <i class="icon ion-ios-trash-outline"></i>
    </a>
  </ion-content>
</ion-view>
