<ion-view view-title="Perfil">
  <ion-header-bar align-title="center" class="bar-positive">
    <h1 class="title">Perfil</h1>
  </ion-header-bar>

  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="{{user.picture}}">
        <h2>{{user.fullName}}</h2>
        <p>{{user.email}}</p>
      </div>

      <a ng-click="profile.logout()" class="button icon-left ion-android-exit">sair</a>
    </div>

    <!-- <h5 class="subtitle">{{user.garden}}</h5> -->

    <button class="button button-full button-dark btn-horta"
      ng-click="profile.modal()">adicionar novo item</button>

    <a class="item item-icon-right assertive"
      ng-repeat="produto in user.garden"> {{produto.item}}
      <i class="icon ion-ios-trash-outline" ng-click="profile.action(produto._id)"></i>
    </a>
  </ion-content>
</ion-view>
