<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">cadastro por e-mail</h1>

    <button class="button button-active button-primary"
      ng-click="modal.hide()">fechar</button>
  </ion-header-bar>

  <ion-content>
    <form class="login-form" ng-submit="cadastro.submit()">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Nome e sobrenome</span>
          <input type="text" placeholder="nome e sobrenome" ng-model="cadastro.cadastroData.fullName">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="nome@email.com" ng-model="cadastro.cadastroData.email">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="******" ng-model="cadastro.cadastroData.password">
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Endereço</span>
          <input type="text" placeholder="endereço da minha horta" ng-model="cadastro.cadastroData.fullAddress">
        </label>

        <label>
          <button class="button button-full button-dark btn-horta" type="submit">Entrar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
