<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Horta</h1>

    <button class="button button-active button-primary"
      ng-click="modal.hide()">fechar</button>
  </ion-header-bar>

  <ion-content>
    <div class="list card">
      <div class="item item-thumbnail-left">
        <img src="{{geo.modal_marker.picture}}">
        <h2>{{geo.modal_marker.fullName}}</h2>
        <p>{{geo.modal_marker.email}}</p>

        <button class="button button-small button-stable"
          ng-click="geo.addToFavorite(geo.modal_marker.id)">
          favoritar
        </button>
      </div>

      <p class="item assertive" ng-repeat="produto in geo.modal_marker.garden"> {{produto.item}}</p>
    </div>
  </ion-content>
</ion-modal-view>
